[submodule "Vendor"]
	path = Vendor/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "Vendor/CryptoSwift"]
	path = Vendor/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
